<div style="width: 70%; margin: 0 auto;">
    <p style="font-size: 16px; font-weight: 600;">
        {{ _("Hello") }},
    </p>
    <p>
        {{ _("A folder in Resources was") }} {{ action }}:
    </p>
    <div style="background-color: #F8F8F8; border-radius: 12px; padding: 12px; margin-bottom: 6px;">
        <div style="font-weight: 600;">
            {{ folder }}
        </div>
    </div>
    <a href="{{ resource_url }}" style="display: inline-block; padding: 4px 8px; background-color: #171717; color: #fff; text-decoration: none; cursor: pointer; border-radius: 8px; margin-top: 10px;">
        {{ _("Open the folder") }}
    </a>
</div>
